<aside class="sidebar container sticky">
    <div class="sidebar__avatar mb2">
        {% if app.user and app.user.id == user.id %}
            <form enctype="multipart/form-data" method="post" action="{{ path('user_avatar') }}" is="auto-submit">
                <img class="avatar" src="{{ user | avatar }}" alt="Avatar">
                <div class="avatar__upload">
                    {{ icon('camera') }}
                </div>
                <input type="file" name="avatar"/>
            </form>
        {% else %}
            <img class="avatar" src="{{ user | avatar }}" alt="Avatar">
        {% endif %}
    </div>

    <div class="infos text-center">
        <p>{{ user.fullName }}</p>
        <p class="text-muted">{{ user.email }}</p>
        {% if user.isPremium %}
            <div class="pill small color-yellow">Premium</div>
        {% endif %}
        {% if app.user and app.user.id != user.id %}
            <a class="btn-white-outlined" href="{{ path('deposit_accounts_share', {id: user.id}) }}">Partager un compte</a>
        {% endif %}
    </div>
    {% if app.user and app.user.id == user.id %}
        <a href="{{ path('my_profile') }}" {% if active == 'profile' %}aria-selected="true"{% endif %}>
            {{ icon('user') }} Profil
        </a>
        {#    <a href="{{ path('user_edit') }}" {% if active == 'edit' %}aria-selected="true"{% endif %}> #}
        {#        {{ icon('user') }} Editer #}
        {#    </a> #}
        <a href="{{ path('user_transactions') }}" {% if active == 'transactions' %}aria-selected="true"{% endif %}>
            {{ icon('inbox') }} Mes factures
        </a>
        <a href="{{ path('user_notifications') }}" {% if active == 'notifications' %}aria-selected="true"{% endif %}>
            {{ render(controller(
                'App\\\Controller\\Template\\NotificationStateController::state'
            )) }}
            {{ icon('bell') }} Mes notifications
        </a>
        <a href="{{ path('user_requests') }}" {% if active == 'requests' %}aria-selected="true"{% endif %}>
            {{ render(controller(
                'App\\\Controller\\Template\\UserRequestStateController::state'
            )) }}
            {{ icon('inbox') }} Mes demandes
        </a>
    {% endif %}
</aside>
