{% extends 'base.html.twig' %}

{% block title 'Mes notifications' %}

{% block body %}
    <div class="layout-sidebar py5" style="--gap:5;">
        {% include 'profile/_sidebar.html.twig' with {active: 'notifications', user: app.user} %}

        <main>
            <h1 class="mb3">{{ icon('bell') }} Mes notifications</h1>
            {% if notifications is empty %}
                <div class="py4 text-muted text-center h3">
                    Vous n'avez aucune notification
                </div>
            {% else %}
                <table>
                    <thead>
                    <tr>
                        <th>Message</th>
                        <th style="width: 180px">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for notification in notifications %}
                            <tr>
                                <td>
                                    {% if notification.url %}
                                        <a href="{{ notification.url }}">{{ notification.message }}</a>
                                    {% else %}
                                        {{ notification.message }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ notification.createdAt | format_datetime('medium', 'short') }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </main>
    </div>
{% endblock %}
