<div class="invoice grid fit">
    <div class="invoice__title">
        <span>{{ invoice.label }}</span>
        {% if invoice.category %}
            <div class="invoice__category">
                <span class="pill small" style="color: {{ invoice.category.color }};">{{ invoice.category.name }}</span>
            </div>
        {% endif %}
    </div>
    <div class="invoice__amount">{{ invoice.amount }} €</div>
    <div class="invoice__active">
        {% if invoice.active %}
            <span class="pill small">Active</span>
        {% endif %}
{#        <input type="checkbox" id="{{ invoice.id }}" {{ invoice.active ? 'checked' : null }} label="Active" disabled is="input-switch">#}
    </div>
    <div class="invoice__actions actions">
        <button>
            <a href="{{ path('invoices_edit', {'id': invoice.id}) }}" class="btn-primary" title="Éditer la facture">
                {{ icon('edit') }}
            </a>
        </button>
        {{ include('invoice/_delete_form.html.twig') }}
    </div>
</div>