<nav class="header" id="header">
    <div class="header__home">
        <a href="{{ path('home') }}" title="{{ 'Accueil'|trans }}">
            {{ icon('logo') }}
        </a>
    </div>

    <ul class="header-nav">
        <li>
            <a href="{{ path('home') }}" title="{{ 'Accueil'|trans }}" {{ menu_active('home') }}>
                {{ icon('home') }} <span>{{ 'Accueil'|trans }}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('invoice_index') }}" title="{{ 'Invoices'|trans }}" {{ menu_active('invoices') }}>
                {{ icon('inbox') }} <span>{{ 'Invoices'|trans }}</span>
            </a>
        </li>
        {% if app.user %}
            <li>
                <deposit-account-selection></deposit-account-selection>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('category_index') }}" title="{{ 'Categories'|trans }}" {{ menu_active('categories') }}>
                {{ icon('layers') }} <span>{{ 'Categories'|trans }}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('premium') }}" title="{{ 'Premium'|trans }}" {{ menu_active('premium') }}>
                {{ icon('unlock') }} <span>{{ 'Premium'|trans }}</span>
            </a>
        </li>
    </ul>
    {% include 'partials/header-side.html.twig' %}
</nav>