{% extends 'admin/base.html.twig' %}

{% block title 'Dashboard' %}

{% block body %}
    <div class="stack-large">
        <section class="stack" style="--gap: 1;">
            <div class="flex">
                <h3>
                    {{ icon('star') }} Abonnements
                </h3>
            </div>
            <div class="card">
                <a href="#monthly" aria-controls="monthly">24 derniers mois</a>
                <line-chart id="monthly" points="{{ months | json_encode }}" x="date" y="amount" hidden></line-chart>
            </div>
        </section>

        <div class="grid2" style="--gap: 4">
            <div class="stack-large">
                <section class="stack" style="--gap: 1">
                    <div class="flex">
                        <h3>{{ icon('star') }} Actions</h3>
                    </div>

                    <div class="card">
                        <div class="flex">
                            <form action="#" method="post">
                                <button class="btn btn-small btn-danger">{{ icon('trash') }} Vider le cache</button>
                            </form>
{#                            <form action="#" method="post">#}
{#                                <button class="btn btn-small btn-secondary">{{ icon('comments') }} Détecter le spam</button>#}
{#                            </form>#}
                        </div>
                    </div>
                </section>

                <section class="stack" style="--gap: 1">
                    <div class="flex">
                        <h3>{{ icon('edit') }} Tester les emails</h3>
                    </div>
                    <div class="card">
                        <h3>Envoyer un email de test</h3>
                        <form action="{{ path('admin_mailtest') }}" method="post" class="stack">
                            <div class="form-group" style="width: 100%">
                                <input class="form-control" placeholder="Email" name="email">
                            </div>
                            <button class="btn btn-secondary">Tester</button>
                        </form>

                        <div>
                            <h3>Prévisualiser le mail d'inscription</h3>
                            <a target="_blank" href="{{ path('admin_mailpreview') }}" class="btn btn-secondary">Tester</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}