{% extends 'admin/base.html.twig' %}

{% block title 'Dashboard' %}

{% block body %}
    <div class="stack-large">
        <h3>
            {{ icon('inbox') }} Chiffres
        </h3>
        <div class="grid3">
            <div class="card text-center">
                <h2><strong>{{ categoryCount }}</strong></h2> Catégories
            </div>
            <div class="card text-center">
                <h2><strong>{{ depositAccountCount }}</strong></h2> Comptes
            </div>
            <div class="card text-center">
                <h2><strong>{{ invoiceCount }}</strong></h2> Opérations récurentes
            </div>
            <div class="card text-center">
                <h2><strong>{{ notificationCount }}</strong></h2> Notifications
            </div>
            <div class="card text-center">
                <h2><strong>{{ operationCount }}</strong></h2> Opérations
            </div>
            <div class="card text-center">
                <h2><strong>{{ transactionCount }}</strong></h2> Factures
            </div>
            <div class="card text-center">
                <h2><strong>{{ userRequestCount }}</strong></h2> Demandes
            </div>
        </div>

        <section class="stack" style="--gap: 1;">
            <div class="flex">
                <h3>
                    {{ icon('star') }} Abonnements
                </h3>
            </div>
            <div class="card">
                <a href="#monthly" aria-controls="monthly">24 derniers mois</a>
                <line-chart id="monthly" points="{{ months | json_encode }}" x="date" y="amount" hidden></line-chart>
            </div>
        </section>

        <div class="grid2" style="--gap: 4">
            <div class="stack-large">
                <section class="stack" style="--gap: 1">
                    <div class="flex">
                        <h3>{{ icon('star') }} Actions</h3>
                    </div>

                    <div class="card">
                        <div class="flex">
                            <form action="{{ path('admin_cache_clean') }}" method="post">
                                <button class="btn btn-small btn-error">{{ icon('trash') }} Vider le cache</button>
                            </form>
                        </div>
                    </div>
                </section>

                <section class="stack" style="--gap: 1">
                    <div class="flex">
                        <h3>{{ icon('edit') }} Tester les emails</h3>
                    </div>
                    <div class="card">
                        <form action="{{ path('admin_mailtest') }}" method="post" class="stack">
                            <div class="form-group" style="width: 100%">
                                <input class="form-control" placeholder="Email" name="email">
                            </div>
                            <button class="btn btn-secondary">Envoyer un email de test</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}