{{ form_start(form) }}
    <div class="grid3">
        {{ form_row(form.fromDepositAccount) }}
        {{ form_row(form.targetDepositAccount) }}
        {{ form_row(form.amount) }}
    </div>

    <button type="submit" class="btn btn-primary">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
